<ion-tabs>
  <ion-tab-bar slot="bottom" class="custom-tab-bar">
    <ion-tab-button tab="dashboard">
      <ion-icon name="home"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="kalkulator">
      <ion-icon name="calculator"></ion-icon>
      <ion-label>Kalkulator</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="rekap">
      <ion-icon name="bar-chart"></ion-icon>
      <ion-label>Rekap</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="simulasi">
      <ion-icon name="rocket"></ion-icon>
      <ion-label>Simulasi</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
